* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 60, 83);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #8d8d8d; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65); 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 36, 36); 
}

.page {
    height: 100vh;
    width: 100%;
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: row;
}

.sidebar {
    height: 100vh;
    width: 20%;
    min-width: 300px;
    background-color: rgb(36, 36, 36);
    padding: 25px;
}

.content {
    height: 100vh;
    width: 80%;
    overflow: auto;
    padding: 10px 20px;
    background-color: rgb(22, 22, 22);
}

.content h1 {
    color: rgb(255, 107, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px solid rgb(255, 107, 107);
    padding-bottom: 20px;
}

.side-opt {
    flex-direction: column;
    padding: 20px;
    display: none;
}

.side-opt label {
    color: rgb(255, 107, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
}

.show {
    display: flex;
}

.btn {
    padding: 10px 25px;
    background-color: #fff;
    outline: none;
    border: 2px solid #fff;
    margin: 10px 0px;
    color: black;
    transition: .3s ease;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.btn-rev {
    background-color: transparent;
    color: #fff;
}

.btn-rev:hover {
    background-color: #fff;
    color: black;
}

.btn-dropdown:hover {
    background-color: #fff;
    color: black;
}

.side-opt select {
    padding: 10px 25px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(255, 107, 107);
    color: rgb(250, 161, 161);
    font-size: 12px;
    margin-bottom: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

.playlists-option {
    text-indent: 5px;
    color: rgb(0, 0, 0);
    padding:  10px 20px;
    font-size: 13px;
    width: min-content;
    letter-spacing: 3px;
}

.playlists option:focus {
    background-color: green;
}

.default {
    color: #fff;
}

.track-div {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}

.track-div:last-child {
    border: none;
}

.track-div p {
    margin: 0px 10px;
}

.align-right {
    text-align: right;
}

