* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(48, 83, 160);
}

.mid-wrap {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.mid {
    height: 400px;
    width: 400px;
    background-color: transparent;
    border: 5px solid rgb(24, 45, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid-div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mid-div label {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}

.inputs {
    padding: 10px 25px;
    outline: none;
    border: 2px solid rgb(24, 45, 90);
    background-color: transparent;
    color: #fff;
}

.btn {
    padding: 10px 25px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(24, 45, 90);
    width: 250px;
    margin-top: 25px;
    color: #fff;
    transition: .5s ease;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: rgb(24, 45, 90);
}

.sidebar {
    height: 100vh;
    width: 300px;
    background-color: rgb(36, 36, 36);
}